@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #282A3A;
}

/*Cabeçalho e seus elementos*/

.cabeçalho {
    height: 70px;
    display: flex;
    position: fixed;
}

nav {
    display: flex;
    width: 100vw;
    background-color:#000000;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.logo {
    min-width: 250px;
    max-width: 250px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #000000;
    font-family: 'Nunito', sans-serif;
    user-select: none;
    cursor: pointer;
    transition: 1s;
}

.pesquisa {
    display: none;
}

.barra-pesquisa {
    height: 50px;
    width: 85%;
    margin-top: 5px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}



.tendencias {
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-family: 'Nunito', sans-serif;
}

.tendencias .faz {
    display: none;
}

.tendencias ul {
    display: flex;
    justify-content: end;
    list-style: none;
    width: 100%;
}

.tendencias li {
    display: flex;
    /* flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px; */
    font-size: 25px;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.tendencias a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    display: none;
}

.barra-pesquisa input {
    height: 35px;
    width: 60%;
    border-radius: 20px;
    border: 2px solid white;
    background-color: #000000;
    outline: none;
    padding: 10px;
    color: rgb(82, 79, 79);
    font-size: 12px;
}

.tendencias li:hover {
    color: white;
    background-color: rgb(185, 194, 194);
}

.tendencias .suporte:hover {
    color: white;
    background-color: rgb(196, 105, 83);
}

.suporte {
    margin-right: 20px;
}

/*Barra Lateral*/

.lateral {
    height: calc(100vh - 70px);
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    margin-top: 70px;
    background-color: #000000;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1.0s;
    overflow: hidden;

}

.foto {
    height: 110px;
    width: 110px;
    border-radius: 70px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foti img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50px;
}

.botoes-lateral {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bt {
    height: 50px;
    width: 212.50px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    cursor: pointer;
}

.bt:hover {
    background-color: #5b6279;
    transition: .3s;
}

.bt a {
    text-decoration: none;
    color: white;
}

.bt ion-icon {
    font-size: 40px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 20px;
}



.botoes-baixo {
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 20px;
    align-items: end;
    justify-content: space-between;  
}

.botoes-baixo ion-icon {
    font-size: 40px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

.engrenagem {
    margin-left: 10px;
}

.out {
    margin-right: 10px;
}


/*corpo*/

.corpo {
    display: flex;
}

.caixa-corpo {
    height: 100vh;
    width: 100vw;
    margin-top: 70px;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.caixa-publi {
    height: 100vh;
    width: calc(60vw - 265px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publi {
    display: flex;
    flex-direction: column;
}

.informações-cima {
    width: 260px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.informações-cima img {
    object-fit: cover;
    border-radius: 30px;
}

.info-pequenas {
    height: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-publi {
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
}

.tags {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    width: auto;
}

.tags a {
    margin-right: 10px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 30px;
    color: #000000;
    text-transform: lowercase;
    font-size: 15px;
    font-family: 'nunito', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.tags a:hover {
    background-color: #b9afaf;
}

.imagem-principal {
    height: 400px;
    width: 400px;
}

.imagem-principal img {
    object-fit: cover;
    border-radius: 10px;
}

.icones-alem {
    width: 165px;
    height: 55px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 14px;
    /* background-color: #686565; */
    border-radius: 10px;
    margin: 5px 0 5px 0;
    padding: 4px;
    /* border: 1px solid white; */
}

.iconesetexto ion-icon {
    font-size: 32px;
    cursor: pointer;
}

.comentarios {
    display: flex;
    height: 50px;
    flex-direction: column;
    width: 400px;
}

.comentarios img {
    object-fit: cover;
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.comentarios textarea {
    color: #ffffff;
    border-style: none;
    outline: none;
    resize: none;
    background-color: #5b6279;
    border-bottom: 2px solid white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-input-placeholder textarea {
    color: rgba(211, 213, 218, 0.685);
    font-weight: bold;
}

/* .foto-nome {
    display: flex;
    align-items: center;
    width: 159px;
    justify-content: space-between;
} */

.comentarioebutao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.comentarioebutao ion-icon {
    font-size: 40px;
    cursor: pointer;
}

.todos-comentarios {
    height: 150px;
    width: 400px;
    background-color: #5b6279;
    /* border: 1px solid white; */
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.userecomentario {
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    height: auto;
    width: 398px;
    border-bottom: 1px solid white;
}

.userecomentario img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 40px;
    margin-right: 10px;
}

.dados-coment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
}

.botoes-coment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 3px;
    background-color: rgb(116, 117, 113);
}


/* bagulho responsivo */

.esconder-fundo {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% + 70px);
    position: absolute;
    background-color: #0000003f;
    z-index: 1;
}

.pop-up {
    width: 500px;
    height: 600px;
    background-color:rgb(87, 110, 110);
    border-radius: 10px;
    margin-left: 250px;
    position: absolute;
    display: flex;
}

.header-pop {
    height: 40px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fechar {
    background-color: rgb(175, 67, 67);
    padding: 2px;
    border-radius: 7px;
    text-decoration: none;
}

/* scroll barr */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Resolução menor*/

@media (max-width: 758px) {

    .lateral {
        height: calc(100vh - 70px);
        min-width: 150px;
        max-width: 150px;
        position: fixed;
        margin-top: 70px;
        background-color: #000000;
        border-right: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 1s;
    }

    .caixa-corpo {
        margin-left: 160px;
        transition: 1s;
    }

    .bt a {
        display: none;
    }

    .bt {
        align-items: center;
        justify-content: center;
        width: 120px;
    }

    .barra-pesquisa ion-icon {
        margin-top: 7px;
    }

    .barra-pesquisa {
        height: 110px;
        flex-direction: column;
        justify-content: space-between;
    }

    .barra-pesquisa input {
        margin-bottom: 15px;
    }
    
    .tendencias li {
        font-size: 25px;
        height: 70px;
        width: 70px;
        align-items: center;
        justify-content: center;
        transition: 1s;
    }

    .tendencias ion-icons {
        padding: 15px;
        background-color: #5b6279;
    }

    .logo {
        min-width: 150px;
        max-width: 150px;
        font-size: 12px;
        transition: 1s;
    }
}

@media (max-width: 610px) {
    .tendencias .faz {
        display: flex;
    }

    .tendencias .aoba {
        display: none;
    }
}